In [36]:
import numpy as np
import pandas as pd

In [37]:
df1 = pd.read_csv('AcademicPerformance.csv')
df1

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16.0,2.0,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,NaN,IT,F,Father,20.0,20.0,3.0,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,NaN,Father,10.0,7.0,0.0,30,No,Bad,Above-7,L
3,NaN,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25.0,5.0,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50.0,12.0,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5.0,4.0,5.0,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77.0,14.0,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74.0,25.0,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17.0,14.0,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14.0,23.0,62,No,Bad,Above-7,L

In [38]:
df2 = df1.head()
df2

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16.0,2.0,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,NaN,IT,F,Father,20.0,20.0,3.0,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,NaN,Father,10.0,7.0,0.0,30,No,Bad,Above-7,L
3,NaN,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25.0,5.0,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50.0,12.0,50,No,Bad,Above-7,M

In [39]:
df1.shape

(480, 17)

In [40]:
df1.size

8160

In [41]:
df1.isnull()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [42]:
df1.isnull().sum()

gender                      10
NationalITy                  0
PlaceofBirth                 0
StageID                      0
GradeID                      0
SectionID                    6
Topic                        0
Semester                     9
Relation                     0
raisedhands                 10
VisITedResources             5
AnnouncementsView            4
Discussion                   0
ParentAnsweringSurvey        0
ParentschoolSatisfaction     0
StudentAbsenceDays           0
Class                        0
dtype: int64

In [43]:
df1.dropna(inplace=True)
df1.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [44]:
df1.mean()

C:\Users\SIDDHA~1\AppData\Local\Temp/ipykernel_4216/2053335143.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

raisedhands          48.786036
VisITedResources     57.434685
AnnouncementsView    39.815315
Discussion           43.364865
dtype: float64

In [45]:
df1['raisedhands'] = df1['raisedhands'].replace(np.NaN)
df1

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16.0,2.0,20,Yes,Good,Under-7,M
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50.0,12.0,50,No,Bad,Above-7,M
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50.0,10.0,15.0,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12.0,21.0,16.0,50,Yes,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50.0,88.0,30.0,80,Yes,Good,Under-7,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5.0,4.0,5.0,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77.0,14.0,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74.0,25.0,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17.0,14.0,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14.0,23.0,62,No,Bad,Above-7,L

In [49]:
import pandas as pd
import numpy as np
Data1 = pd.read_csv('AcademicPerformance.csv')
print(Data1)

    gender NationalITy PlaceofBirth       StageID GradeID SectionID  \
0        M          KW       KuwaIT    lowerlevel    G-04         A
1        M          KW       KuwaIT    lowerlevel    G-04       NaN
2        M          KW       KuwaIT    lowerlevel    G-04         A
3      NaN          KW       KuwaIT    lowerlevel    G-04         A
4        M          KW       KuwaIT    lowerlevel    G-04         A
..     ...         ...          ...           ...     ...       ...
475      F      Jordan       Jordan  MiddleSchool    G-08         A
476      F      Jordan       Jordan  MiddleSchool    G-08         A
477      F      Jordan       Jordan  MiddleSchool    G-08         A
478      F      Jordan       Jordan  MiddleSchool    G-08         A
479      F      Jordan       Jordan  MiddleSchool    G-08         A

         Topic Semester Relation  raisedhands  VisITedResources  \
0           IT        F   Father         15.0              16.0
1           IT        F   Father         20.0              20.0
2           IT      NaN   Father         10.0               7.0
3           IT        F   Father         30.0              25.0
4           IT        F   Father         40.0              50.0
..         ...      ...      ...          ...               ...
475  Chemistry        S   Father          5.0               4.0
476    Geology        F   Father         50.0              77.0
477    Geology        S   Father         55.0              74.0
478    History        F   Father         30.0              17.0
479    History        S   Father         35.0              14.0

     AnnouncementsView  Discussion ParentAnsweringSurvey  \
0                  2.0          20                   Yes
1                  3.0          25                   Yes
2                  0.0          30                    No
3                  5.0          35                    No
4                 12.0          50                    No
..                 ...         ...                   ...
475                5.0           8                    No
476               14.0          28                    No
477               25.0          29                    No
478               14.0          57                    No
479               23.0          62                    No

    ParentschoolSatisfaction StudentAbsenceDays Class
0                       Good            Under-7     M
1                       Good            Under-7     M
2                        Bad            Above-7     L
3                        Bad            Above-7     L
4                        Bad            Above-7     M
..                       ...                ...   ...
475                      Bad            Above-7     L
476                      Bad            Under-7     M
477                      Bad            Under-7     M
478                      Bad            Above-7     L
479                      Bad            Above-7     L

[480 rows x 17 columns]

In [52]:
Data1['raisedhands'] = Data1['raisedhands'].replace(np.NaN)

In [54]:
Data1['raisedhands'].mean()

47.50638297872341

In [55]:
print(Data1['raisedhands'][:10])

0    15.0
1    20.0
2    10.0
3    30.0
4    40.0
5    42.0
6    35.0
7    50.0
8    12.0
9    70.0
Name: raisedhands, dtype: float64

In [58]:
Data1['raisedhands']=Data1['raisedhands'].replace(np.NaN)

In [59]:
Data1['raisedhands'].median()

50.0

In [60]:
Data1['raisedhands'][:10]

0    15.0
1    20.0
2    10.0
3    30.0
4    40.0
5    42.0
6    35.0
7    50.0
8    12.0
9    70.0
Name: raisedhands, dtype: float64

In [61]:
Data1['raisedhands']=Data1['raisedhands'].replace(np.NaN)

In [62]:
Data1['raisedhands'].mode()

0    10.0
1    70.0
dtype: float64

In [63]:
print(Data1['raisedhands'][:10])

0    15.0
1    20.0
2    10.0
3    30.0
4    40.0
5    42.0
6    35.0
7    50.0
8    12.0
9    70.0
Name: raisedhands, dtype: float64

In [65]:
Data1.isnull()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [66]:
Data1.isnull().sum()

gender                      10
NationalITy                  0
PlaceofBirth                 0
StageID                      0
GradeID                      0
SectionID                    6
Topic                        0
Semester                     9
Relation                     0
raisedhands                  0
VisITedResources             5
AnnouncementsView            4
Discussion                   0
ParentAnsweringSurvey        0
ParentschoolSatisfaction     0
StudentAbsenceDays           0
Class                        0
dtype: int64

In [69]:
Data1['gender']=Data1['gender'].fillna('T')
Data1.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   6
Topic                       0
Semester                    9
Relation                    0
raisedhands                 0
VisITedResources            5
AnnouncementsView           4
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64